:root {
  --body-bg-color: #efefef;
  --text-color: #837e9f;
  --bg-cards: #e7e5e5;
  --bg-techs: #cb92b1;

  --pink: #ecb2ba;
  --pink-dark: #c6939a;
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

body,
input,
textarea,
select,
button {
  font-family: "Merriweather Sans";
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  padding: 30px;
}

.bullet-points {
  width: 15px;
  height: 15px;

  background: #e7de79;
  border: 2px solid #837e9f;

  border-radius: 50%;
}

.title {
  height: 86px;

  padding: 30px;

  background-color: var(--bg-cards);
}

.tape-section {
  position: absolute;
  width: 100%;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before {
  content: "";
  width: 100px;
  height: 30px;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

//cima esquerda
.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -30px;
}

//baixo direita
.tape-section:last-of-type::before {
  transform: rotate(-45deg);
  right: -30px;
  bottom: 15px;
}

.paper-clip {
  position: absolute;

  top: -5px;
  right: 0;
  transform: rotate(-30deg);
}
