.container {
  min-width: 348px;
}

.profile {
  height: 292px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    position: relative;

    img {
      width: 128px;
      height: 128px;

      border-radius: 50%;
    }
  }

  strong {
    margin-top: 30px;

    font-size: 1.4375rem;
    line-height: 1.8125rem;
  }

  small {
    margin-top: 10px;

    font-size: 0.8125rem;
    line-height: 1rem;
  }
}

.contact {
  margin-top: 30px;

  ul {
    list-style: none;
  }

  ul li:not(:last-child) {
    margin-bottom: 20px;
  }

  ul li {
    margin-bottom: 0;
  }

  ul li a {
    display: flex;
    align-items: center;

    text-decoration: none;
  }

  ul li svg {
    stroke: var(--text-color);

    width: 24px;
    height: 24px;

    margin-right: 20px;
  }

  ul li span {
    font-size: 0.875rem;
    line-height: 0.9375rem;
  }
}

.techs {
  margin-top: 30px;

  strong {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }

  > div {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    div {
      height: 24px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: var(--bg-techs);
      border-radius: 30px;

      font-weight: bold;
      font-size: 0.625rem;
      line-height: 0.75rem;
      text-transform: uppercase;

      color: #000000;
    }
  }
}

.experiencies {
  margin-top: 30px;

  > strong {
    font-size: 20px;
    line-height: 25px;

    color: var(--text-color);
  }

  ul {
    margin: 20px 0 0 40px;
  }

  ul li {
    margin-bottom: 20px;

    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

.education {
  margin-top: 30px;

  > strong {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }

  ul {
    margin: 20px 0 0 40px;
  }

  ul li {
    margin-bottom: 20px;

    font-size: 0.875rem;
    line-height: 0.947rem;

    color: var(--text-color);
  }
}
